.profileParentBody{
    display: grid;
}

.profileDashboard{
    flex-direction: column;
}
.profileImage{
    display: inline-flex;
    width:30%;
}

.profile-image-circle{
    width: 100px;
    border-radius: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: block;
    /* margin: auto; */
    padding: 5px;
    margin-left: 50%;
}

.profileInfo{
    width:70%;
    float: right;
}

.profileName{
    padding: 10px;
    font-size: x-large;
}

.profileDetail{
    padding: 10px;
}

.editProfile{
    padding: 10px;
}

.profileDetailPosts{
    width: 20%;
}

.editPopup{
    padding: 10%
}

.gridList{
    display: 'flex';
    flex-wrap: 'wrap';
    justify-content: 'space-around';
    overflow: 'hidden';
    width: 500;
    height: 450;
}

.recentOpenPicture{
    width: 50%;
}

.recentOpenText{
    width: 50%;
    padding: 5px;
}

.recentOpenPictureDiv{
    display:flex;
    padding:10px;
}

.profileBody{
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

.profileEditButton{
    padding: 10px;
}

.selectedRecentPicture{
    width: 100%;
    height: 90%;
}

.selectedRecentProfilePic{
    width: 20%;
    border-radius: 100%;
}

.tags{
    color: #0099cc;
}

.likeButton{
    color: indianred !important;
    margin-left: -8% !important;
    margin-right: -8% !important;
}